body{
    margin:0;
    padding:0;
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 40%, #a1c4fd 100%);
    background-attachment: fixed;


}
.navbar{
    display:flex;
    justify-content: space-around;
    height:50px;
    box-shadow: 0 0 5px black;
}

.nav{
   margin-left:40px;
   font-size:18px;
   cursor:pointer;
   text-shadow: 0 0 20px aqua;
   margin-top:13px;
      
}

.content{
    display:flex;
    margin-left:200px;
    gap:100px;
     margin-top:100px;
}
.sachinimage{
    height:350px;
    width:350px;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    border:5px solid #fff;
   
}
.name{
    font-size:60px;
    font-weight: bold;
    margin-top:60px;
    text-shadow: 0 0 15px aqua;
    
}
.social-touch{
    margin-top:30px;
    display:flex;
    gap:30px;
}
.box1{
    height:120px;
    width:120px;
    background-color: rgb(152, 193, 30);
    border-radius: 50%;
    display: flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    font-size:25px;
     box-shadow: 5px 5px 5px black;
}
.box2{
    height:120px;
    width:120px;
    background-color: yellow;
    border-radius: 50%;
     display: flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    font-size:25px;
     box-shadow: 5px 5px 5px black;
}
.box3{
    height:120px;
    width:120px;
    background-color: aqua;
    border-radius: 50%;
     display: flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    font-size:25px;
     box-shadow: 5px 5px 5px black;
     
}
.box4{
    height:120px;
    width:120px;
    background-color: grey;
    border-radius: 50%;
     display: flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    font-size:25px;
    box-shadow: 5px 5px 5px black;
}

.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    /* background-color: #feb47b; */
    height:98px;
    align-items: center;
    border:1px solid black;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);

}
.foot{
    font-size: 17px;
    font-weight: bolder;
}

.conpopup{
    display:none;
    top:30%;
    left:40%;
    position:fixed;
    height:300px;
    width:300px;
    background-color: rgb(198, 173, 70);
    box-shadow: 0 0 10px white;
    border-radius: 10px;
    
}
.inp{
    height:30px;
    width:65%;
    margin-left:50px;
    margin-top:5px;
}
.btn{
    margin-left:70px;
    height:30px;
    width:40%;
    margin-top:10px;
}
.popupclose{
    margin-top:10px;
    border:2px solid black;
    background-color: #a1c4fd; 
    cursor: pointer;
    border-radius: 4px;
}



.instagram{
height:40px;
width:40px;
left:96%;
bottom:72%;
position: fixed;

}
.facebook{
height:40px;
width:40px;
left:96%;
bottom:65%;
position: fixed;

}
.youtube{
height:40px;
width:40px;
left:96%;
bottom:59%;
position: fixed;

}
.twiter{
height:40px;
width:40px;
left:96%;
bottom:53%;
position: fixed;

}





@media (max-width: 768px) {
  .content{
    flex-direction: column;
    margin-left:100px;
    gap:100px;
     margin-top:70px;
}
}
