body{
    margin:0;
    padding:0;
   background: linear-gradient(135deg, #ff7e5f, #feb47b);


}
.navbar{
    display:flex;
    justify-content: space-around;
    height:50px;
    box-shadow: 0 0 5px black;
}

.nav{
   margin-left:40px;
   font-size:18px;
   cursor:pointer;
   text-shadow: 0 0 20px black;
   margin-top:13px;
}
.round{
    height:10px;
    width:10px;
    background-color: red;
    border-radius: 50%;
}
.content{
    display:flex;
    margin-left:200px;
    gap:100px;
     margin-top:100px;
}
.sachinimage{
    height:350px;
    width:350px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
   
}
.name{
    font-size:60px;
    font-weight: bold;
    margin-top:60px;
    text-shadow: 0 0 15px aqua;
    
}
.social-touch{
    margin-top:30px;
    display:flex;
    gap:30px;
}
.box1{
    height:120px;
    width:120px;
    background-color: rgb(152, 193, 30);
    border-radius: 50%;
    display: flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    font-size:25px;
     box-shadow: 5px 5px 5px black;
}
.box2{
    height:120px;
    width:120px;
    background-color: yellow;
    border-radius: 50%;
     display: flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    font-size:25px;
     box-shadow: 5px 5px 5px black;
}
.box3{
    height:120px;
    width:120px;
    background-color: aqua;
    border-radius: 50%;
     display: flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    font-size:25px;
     box-shadow: 5px 5px 5px black;
}
.box4{
    height:120px;
    width:120px;
    background-color: grey;
    border-radius: 50%;
     display: flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    font-size:25px;
    box-shadow: 5px 5px 5px black;
}






@media (max-width: 768px) {
  .content{
    flex-direction: column;
    margin-left:100px;
    gap:100px;
     margin-top:70px;
}
}